<ion-view view-title="Comunidades">
  <ion-content> 
	  
	<div class= 'webPage'>
	  <iframe width="640" height="360"  name= "eventsPage" src="//jsfiddle.net/to7dj94u/1/embedded/result/" frameborder="0" allowfullscreen>
	</iframe>
	 
	</div>
	
	
	<div id="chart"> </div>
	<script id="id_script_zoom" src="http://opendata.pol.una.py/raw/export/charts/zoomable_treemap.js" json-name="http://opendata.pol.una.py/raw/export/data/0aeb0ab23c84e4b989abd2e08c50ab09.json" ></script>
 
  </ion-content>
</ion-view>
