/* Empty. Add your own CSS if you like */

.webPage{
   width: 100%; 
    height: 100%; 
	position: relative; 
	padding-bottom: 56.25%;

   overflow: hidden;}
.webPage iframe 
 { 
    position: absolute; 
    display: block; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
.menu-item-text {
   color            : black !important;
   vertical-align   : middle !important;
   font-size        : 100% !important;
   background-color : transparent;
}

.menu-selected {
   background-color: #E3E3E3 !important;
}

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}